::-webkit-scrollbar {
    display: none;
}
html {
    overflow: -moz-scrollbars-none;
}
#site {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #1a1a1a;
    font-family: "Rajdhani", sans-serif;
    min-width: 1312px;
}
#clockSide {
    position: absolute;
    top: 0; bottom: 0; right: 0;
    margin-right: 0;
    float: right;
    width: 50%;
    height: 100%;
    border-left: 4px solid #606060;
    z-index: 1;
}
#alarmSide {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    margin-left: 0;
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
    min-width: 200px;
    z-index: 0;
}
#settingsButton {
    background-image: url("/alarmclock/assets/gear.png");
    position: absolute;
    right: 50px;
    top: 50px;
    width: 30px;
    height: 30px;
    transition: 1s;
    filter: invert(75%);
}
#settingsButton:hover {
    cursor: pointer;
    transition: 1s;
    filter: invert(50%) !important;
}
#settings {
    display: none;
    z-index: 2;
    transition: 1s;
    opacity: 0;
    height: 400px;
    position: absolute;
    top: 80px;
    right: 80px;
    background: #606060;
    border: 4px solid #1a1a1a;
}
.settingSwitchW {
    display: block;
    position: relative;
    margin: 10px;
}
.settingSwitchW span {
    margin-right: 25px;
}
.settingSwitchToggle {
    display: inline-block;
    height: 20px;
    width: 100px;
    text-align: center;
    border: 2px solid #606060;
    background: #1a1a1a;
    color: #606060;
    font-variant: small-caps;
    letter-spacing: 4px;
    user-select: none;
}
.settingSwitchToggleActive {
    border: 2px solid #1a1a1a !important;
    background: #606060 !important;
    color: #1a1a1a !important;
}
.settingSwitchToggle:hover {
    cursor: pointer !important;
}
#digitalClockWrapper {
    display: none;
    color: #606060;
    font-size: 162px;
    font-family: "Inconsolata", monospace;
}
#digitalClock {
    width: 100%;
}
#digitalClockModifier {
    text-align: center;
    position: absolute;
    z-index: 2;
    font-size: 35px;
}
#analogClockModifier {
    z-index: 3;
    font-size: 17px;
    font-family: "Inconsolata", monospace;
    color: #606060;
}
#analogClock {
    display: none;
    width: 420px;
    height: 420px;
}
#analogClock_clockFace {
    background-image: url("/alarmclock/assets/clockface.png");
    width: 420px;
    height: 420px;
    position: absolute;
}
#analogClock_hourHand {
    background-image: url("/alarmclock/assets/hourhand.png");
}
#analogClock_minuteHand {
    background-image: url("/alarmclock/assets/minutehand.png");
}
#analogClock_secondHand {
    background-image: url("/alarmclock/assets/secondhand.png");
}
.clockHand {
    height: 420px;
    width: 35px;
    z-index: 2;
    margin-left: 192.5px;
    position: absolute;
    transition: 0.5s;
}
.centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.center {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
#alarmHeader {
    position: absolute;
    top: 0; left: 0; right: 0;
    height: 75px;
    border-bottom: 4px solid #606060;
    width: 100%;
    box-sizing: border-box;
}
#newAlarm {
    position: absolute;
    right: 0;
    padding-right: 20px;
    font-size: 59px;
    color: #606060;
    transition: 1s;
}
#newAlarm:hover {
    cursor: pointer;
    filter: sepia(100%);
}
#createButton {
    position: absolute;
    left: 0;
    padding-left: 20px;
    font-size: 59px;
    color: #387c38;
    filter: grayscale(100%);
    transition: 1s;
    opacity: 0;
    display: none;
}
#createButton:hover {
    cursor: pointer;
    filter: grayscale(0);
}
#alarmList {
    position: absolute;
    top: 75px; left: 0; right: 0; bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.dialog {
    display: none;
    z-index: 4;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    background: #606060;
    opacity: 0;
    transition: 1s;
    cursor: auto;
    font-size: 24px;
}
#dialogWrapper {
    display: none;
    position: absolute;
    top: 75px; left: 0; right: 0; bottom: 0;
    cursor: not-allowed;
}
.interruptedHR {
    display: block;
    text-align: center;
    letter-spacing: 4px;
}
hr {
    border-color: #1a1a1a;
    border-style: solid;
    width: 95%;

}
.interruptedHR div {
    display: inline-block;
    width: 10%;
    font-variant: small-caps;
}
.interruptedHRdiv {
    width: 40% !important;
}
.textInput {
    border: 2px solid #1a1a1a;
    height: 15px;
    width: 90%;
    background: #606060;
    padding: 9px;
}
.textInput:focus {
    background: #1a1a1a;
    color: #606060;
}
#createAlarmDialog > div:first-child {
    top: 0;
}
#createAlarmDialog > div:last-child {
    bottom: 0;
}
#createAlarmDialog > div {
    padding: 10px;
    height: 45%;
    position: absolute;
    left: 0; right: 0;
    background: #606060;
    pointer-events: all;
    border: 4px solid #1a1a1a;
}
#createAlarmDialog {
    background: transparent;
    pointer-events: none;
}
#createHR1 {
    margin-top: 50px;
}
.nice-select {
   background: url(/alarmclock/assets/dropdown.png) no-repeat 96% 0;
   background-color: #606060;
   border: 2px solid #1a1a1a;
   height: 29px;
   overflow: hidden;
   width: 75px;
   display: inline-block;
   margin: 2px;
}

.nice-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 268px;
   color: #1a1a1a;
}

#timeSelectW {
    font-variant: super;
    width: 367px;
}
.createAlarmDialogW {
    width: 100%;
}
.createAlarmDialogW > hr {
    margin-top: 40px;
}
.checkboxInput input {
    display: none;
}
.checkboxInput span {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    background: url("/alarmclock/assets/unchecked.png");
}
.checkboxInput input:checked + span {
    background: url("/alarmclock/assets/checked.png");
}
.overshadow {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 100;
    background-color: #606060;
    opacity: 0.3;
    cursor: not-allowed;
}
#repeatShadow {
    display: block;
}
#repeatSelectW {
    width: 405px;;
}
#repeatShadowSelectW {
    position: relative;
    width: 100%;
    height: 100%;
}
#musicSelect {
    width: 150px;
}
#audioW {
    font-variant: super;
    text-align: center;
}
#repeatW {
    text-align: center;
}
.alarmListElement {
    height: 100px;
    border-bottom: 2px solid #606060;
    box-sizing: border-box;
    position: relative;
    padding: 20px;
    color: #606060;
    background-color: #1a1a1a;
}
.alarmListElement:hover {
    color: #1a1a1a;
    background-color: #606060;
}
.alarmListElement:hover .alarmListElementCancel {
    color: #1a1a1a;
    filter: none;
}
.alarmListElement:hover .alarmListElementCancel:hover {
    color: #be3838;
}
.alarmListElementTime {
    font-size: 35px;
}
.alarmListElementCancel {
    right: 20px;;
    color: #be3838;
    filter: grayscale(100%);
    font-size: 38px;
    cursor: pointer;
}
.alarmListElementCancel:hover {
    filter: grayscale(0);
}
#alarmShadow {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: black;
    opacity: 0.6;
    cursor: not-allowed;
    z-index: 200;
    display: none;
}
#alarmBox {
    z-index: 201;
    width: 400px;
    height: 60%;
    border: 4px solid #1a1a1a;
    background: #606060;
    overflow: scroll;
    display: none;
}
.alarmBoxElement {
    position: relative;
    box-sizing: border-box;
    border-bottom: 2px solid #1a1a1a;
    height: 100px;
}
.alarmBoxButton {
    right: 10px;
    position: absolute;
    font-variant: small-caps;
    color: #1a1a1a;
    background: #606060;
    border: 2px solid #1a1a1a;
    width: 100px;
    text-align:center;
    letter-spacing: 2px;
}
.alarmBoxButton:hover {
    color: #606060;
    background: #1a1a1a;
    cursor: pointer;
}
.alarmBoxSnooze {
    bottom: 10px;
}
.alarmBoxDismiss {
    top: 10px;
}
.alarmBoxMsg {
    left: 10px;
}
