#site {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #1a1a1a;
}
#digitalClock {
    font-family: "Rajdhani", sans-serif;
    color: rgb(96, 96, 96);
    font-size: 200px;
    width: 600px;
}
.centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.center {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
